In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

In [2]:
data = pd.read_csv("./data/pima-data.csv")

In [3]:
data.head(5)

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,skin,diabetes
0,6,148,72,35,0,33.6,0.627,50,1.3790,True
1,1,85,66,29,0,26.6,0.351,31,1.1426,False
2,8,183,64,0,0,23.3,0.672,32,0.0000,True
3,1,89,66,23,94,28.1,0.167,21,0.9062,False
4,0,137,40,35,168,43.1,2.288,33,1.3790,True

In [4]:
data.iloc[0: , 9]

0       True
1      False
2       True
3      False
4       True
       ...
763    False
764    False
765    False
766     True
767    False
Name: diabetes, Length: 768, dtype: bool

In [5]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
data1 = le.fit_transform(data.iloc[0: , 9])

In [6]:
#data1

In [7]:
from sklearn.preprocessing import OneHotEncoder
onehotencoder = OneHotEncoder()
x = onehotencoder.fit_transform(data.iloc[0:,9].values.reshape(-1,1)).toarray()

In [8]:
x

array([[0., 1.],
       [1., 0.],
       [0., 1.],
       ...,
       [1., 0.],
       [0., 1.],
       [1., 0.]])

In [9]:
dfOneHot = pd.DataFrame(x, columns = ["diabetes"+str(int(i)) for i in range(x.shape[1])])
data = pd.concat([data, dfOneHot], axis=1)

In [10]:
data

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,skin,diabetes,diabetes0,diabetes1
0,6,148,72,35,0,33.6,0.627,50,1.3790,True,0.0,1.0
1,1,85,66,29,0,26.6,0.351,31,1.1426,False,1.0,0.0
2,8,183,64,0,0,23.3,0.672,32,0.0000,True,0.0,1.0
3,1,89,66,23,94,28.1,0.167,21,0.9062,False,1.0,0.0
4,0,137,40,35,168,43.1,2.288,33,1.3790,True,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,1.8912,False,1.0,0.0
764,2,122,70,27,0,36.8,0.340,27,1.0638,False,1.0,0.0
765,5,121,72,23,112,26.2,0.245,30,0.9062,False,1.0,0.0
766,1,126,60,0,0,30.1,0.349,47,0.0000,True,0.0,1.0
767,1,93,70,31,0,30.4,0.315,23,1.2214,False,1.0,0.0