# Introduction to pandas

It contains two data structure:
    1. Series
    2. DataFrame

It provides flexibble way to merge, concat , slice & reshape the data

## Install pandas

In [5]:
pip install pandas

Collecting pandas
  Downloading https://files.pythonhosted.org/packages/f9/b9/9ad570258ce4fe504bd23002154f9e6f09bf7110359d271e4ba1664f7281/pandas-1.0.2-cp36-cp36m-manylinux1_x86_64.whl (10.1MB)
    100% |████████████████████████████████| 10.1MB 42kB/s ta 0:00:01
Collecting python-dateutil>=2.6.1 (from pandas)
  Using cached https://files.pythonhosted.org/packages/d4/70/d60450c3dd48ef87586924207ae8907090de0b306af2bce5d134d78615cb/python_dateutil-2.8.1-py2.py3-none-any.whl
Collecting pytz>=2017.2 (from pandas)
  Using cached https://files.pythonhosted.org/packages/e7/f9/f0b53f88060247251bf481fa6ea62cd0d25bf1b11a87888e53ce5b7c8ad2/pytz-2019.3-py2.py3-none-any.whl
Collecting numpy>=1.13.3 (from pandas)
  Using cached https://files.pythonhosted.org/packages/62/20/4d43e141b5bc426ba38274933ef8e76e85c7adea2c321ecf9ebf7421cedf/numpy-1.18.1-cp36-cp36m-manylinux1_x86_64.whl
Collecting six>=1.5 (from python-dateutil>=2.6.1->pandas)
  Using cached https://files.pythonhosted.org/packages/65/eb/1f97cb97bfc2390a276969c6fae16075da282f5058082d4cb10c6c5c1dba/six-1.14.0-py2.py3-none-any.whl
Installing collected packages: six, python-dateutil, pytz, numpy, pandas
Successfully installed numpy-1.18.1 pandas-1.0.2 python-dateutil-2.8.1 pytz-2019.3 six-1.14.0
Note: you may need to restart the kernel to use updated packages.

## Two ways to import pandas

In [2]:
import pandas as pd
from pandas import Series, DataFrame

### 1. Series

Data provided to series can be list, tuple, dictionary etc.
It contains 1 dimensional array like object

In [2]:
obj = Series([1,2,3,4,5,6])

In [3]:
obj

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [4]:
obj.values

array([1, 2, 3, 4, 5, 6])

In [5]:
obj.index

RangeIndex(start=0, stop=6, step=1)

In [16]:
obj2= Series([1,2,3,4] , index=['a','b','d','d'])

In [17]:
obj2

a    1
b    2
d    3
d    4
dtype: int64

In [20]:
obj2['d']

d    3
d    4
dtype: int64

In [21]:
obj3 = Series({1:4,4:5,2:4})

In [22]:
obj3

1    4
4    5
2    4
dtype: int64

### 2. DataFrame

For creation of DataFrame we can pass
    1. One or more dictionary
    2. One or more series
    3. 2D numpy Array

#### 2.1 Creating DataFrame

##### By using Series and Dictionary

In [28]:
df = DataFrame({
    'one' : Series([1,2,3,4]),
    'two' : Series([5,6,7,8])
})

In [29]:
df

   one  two
0    1    5
1    2    6
2    3    7
3    4    8

In [35]:
data = {
    'one' : Series([1,2,3,4] , index = ['a','b','c','d']),
    'two' : Series([5,6,7,8,8] , index = ['a','b','c','d','e'])
}
df = DataFrame(data)

In [36]:
df

   one  two
a  1.0    5
b  2.0    6
c  3.0    7
d  4.0    8
e  NaN    8

In [37]:
DataFrame(data,index = ['b','c','d'])

   one  two
b    2    6
c    3    7
d    4    8

In [39]:
DataFrame(data , index=['b','c','e'], columns = ['one','three'])

   one three
b  2.0   NaN
c  3.0   NaN
e  NaN   NaN

##### By using dictionary of ndArray or List

In [42]:
data = {
    'one' :[1,2,3,4] ,
    'two' :[5,6,7,8] 
}

In [43]:
DataFrame(data)

   one  two
0    1    5
1    2    6
2    3    7
3    4    8

In [52]:
data1 = {
    'one' :[1,2,3,4] ,
    'two' :[5,6,7,8,8] 
}

In [53]:
DataFrame(dict([(k,pd.Series(v)) for k,v in data1.items()]))

   one  two
0  1.0    5
1  2.0    6
2  3.0    7
3  4.0    8
4  NaN    8

##### By Using Numpy 2D Array

In [48]:
import numpy as np

random = np.random.randn(6,4)

In [49]:
random

array([[-0.79751425,  1.02810133, -0.10234841,  0.1199887 ],
       [-0.03755726, -1.62751639, -0.00559672,  0.2204474 ],
       [-1.30149652, -1.47255263, -0.82384085,  0.08621864],
       [-0.89183973,  1.24665274, -0.68244078, -0.48975097],
       [ 0.09375761, -1.93988104,  0.35357436,  1.22261163],
       [-0.44692549, -0.35545295, -0.08028993,  0.05468971]])

In [50]:
DataFrame(random)

          0         1         2         3
0 -0.797514  1.028101 -0.102348  0.119989
1 -0.037557 -1.627516 -0.005597  0.220447
2 -1.301497 -1.472553 -0.823841  0.086219
3 -0.891840  1.246653 -0.682441 -0.489751
4  0.093758 -1.939881  0.353574  1.222612
5 -0.446925 -0.355453 -0.080290  0.054690